@*här gör man en ingrediens för att sen kunna välja det i /Home/Create*@
<form action="/Ingrediens/Create" method="post">
    <div>
        @*sätter titeln*@
        <input type="text" name="Title" id="Title" placeholder="Name of the Ingridiens" />
        @*sätter smaken*@
        <input type="text" name="Smak" id="Title" placeholder="Smak of the Ingridiens" />
    </div>
    @*spara*@
    <button class="Butun">save</button>

</form>